* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #169be0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

 header{
    background-color:black;
    color:white;
    display:flex;
    justify-content: space-between;
}

h1 {
    font-size: 300%;
    padding: 25px;
}

#laura {
    color: var(--light);
}

nav {
    padding: 40px 10px 40px 0;
    font-size: 110%;
    justify-content: flex-end;
}

nav ul li {
    display:inline-block;

}

nav ul li a {
    margin-right: 20px;
    transition: all 300ms ease;
    text-align:center;
    padding: 5px;
}

nav ul li a:hover {
    background-color:var(--light);
}

nav ul li a:active {
    box-shadow: inset 0 0 20px white;
}

nav ul li a:focus {
    text-decoration: underline;
}

header div h2 {
    transform: traslateY(-62px);
    background-color:black;
    padding: 10px 25px;
    font-size: 110%;
}

.hero {
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url("../images/charlotte-skyline.jpeg");
    height: 210px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.hero h2 {
    background-color: black;
    color: var(--light);
    padding:10px;
    font-size:150%;
}

main {
    width: 100%;
    display:flex;
    height:auto;
}

aside {
    background-color: var(--light);
    width: 30%;
    text-align:center;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:stretch;
}

#selfie {
    border-radius: 50%;
    border: solid 10px black;
    width:50%;
    margin-bottom: -10px;
}

aside h2 {
    font-size: 300%;
    color:white;
    padding:5px 15px;
    border-radius: 15px;
    background-color:black;
    font-family: cursive;
}

aside p {
    border-bottom: solid 2px black;
    padding: 20px;
}

#contactMe {
    padding: 40px 10px 10px 10px;
    color: black;
    font-size: 200%;
}

aside ul li {
    padding: 10px;
    color:white;
    font-size: 110%;
    justify-content: center;
}

.articles {
    width: 70%;
    background-color: black;
    color: white;
    padding: 20px;
}

article h3 {
    color:var(--light);
    font-size: 200%;
    Padding: 10px 20px;
}

article p {
    padding: 10px 20px;
}

article section {
    padding: 20px;
}

article section div {
    padding: 20px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    border: solid 5px var(--light);
    font-size: 150%;
}

article section div:hover {
    border:inset;
}

article section div:active {
    border:inset var(--light);
}

#seo {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: inherit;
    height: 250px;
    width: calc(70%-40px);
}

#first {
    background-image: url("../images/code.jpeg");
    background-size: cover;
    background-position: center;
}

#dumbbells {
    background-image: url("../images/dumbbells.jpeg");
    background-size: cover;
    background-position: center;
}

#ocean {
    background-image: url("../images/ocean.jpeg");
    background-size: cover;
    background-position: center;
}

#panthers {
    background-image: url("../images/panthers.png");
    background-size: cover;
    background-position: center;
}

footer {
    background-color: black;
    color:var(--light);
    text-align: center;
    Padding: 25px;
}

